gps_flow.json
[{"id":"471050ab.ff09e","type":"subflow","name":"HTTP auth","info":"Peform basic authentication.","in":[{"x":60,"y":40,"wires":[{"id":"c4518def.d6b33"}]}],"out":[{"x":300,"y":40,"wires":[{"id":"c4518def.d6b33","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"c4518def.d6b33","type":"node-red-contrib-httpauth","z":"471050ab.ff09e","name":"","file":"","cred":"","authType":"Basic","realm":"","username":"test","password":"test","hashed":false,"x":180,"y":40,"wires":[[]]},{"id":"d7fbbdab.7d82f","type":"subflow","name":"Map web layout","info":"HTML template for mapping app","in":[{"x":60,"y":40,"wires":[{"id":"99a0b068.6a85f"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"40288ac8.119314","port":0}]}],"icon":"node-red/parser-html.png"},{"id":"40288ac8.119314","type":"template","z":"d7fbbdab.7d82f","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <title>Map</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"icon\" href=\"/favicon.png\" type=\"image/png\">\n    <style>\n            {{{payload.css}}}\n    </style>\n</head>\n<body>\n\n    <div class=\"navbar\">\n        <div class=\"pull-left\">\n            <a href=\"/\"\n                class=\"nav-link\">\n            <i class=\"fa fa-map\"></i>\n            </a> \n        </div>\n\n        {{#payload.showSignOut}}\n            <div class=\"pull-right\">\n              <a href=\"{{payload.signoutUrl}}\" class=\"nav-link\"><i class=\"fa fa-sign-out\"></i> Sign out</a>\n            </div>\n        {{/payload.showSignOut}}        \n\n    </div>\n\n    {{{payload.content}}}\n\n    <script>\n        {{{payload.js}}}\n    </script>\n\n</body>\n</html>\n","output":"str","x":610,"y":40,"wires":[[]]},{"id":"99a0b068.6a85f","type":"function","z":"d7fbbdab.7d82f","name":"View data","func":"msg.payload = { \n    content: msg.payload,\n    signoutUrl: \"http://_:_@\" + msg.req.headers.host + \"/sign_out\",\n    showSignOut: msg.req.url == \"/sign_out\" ? false : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":40,"wires":[["ee3be8b4.b42908"]]},{"id":"ee3be8b4.b42908","type":"template","z":"d7fbbdab.7d82f","name":"CSS","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"plain","template":"body {\n  font-family: \"Helvetica Neue\",Helvetica,Arial,sans-serif;\n  font-size: 16px;\n  line-height: 1.42857143;\n  color: #333;\n}\n\n* {\n  border-radius: 0 !important\n}\n\n.pull-right {\n  float: right;\n}\n\n.pull-left {\n  float: left;\n}\n\n.navbar {\n  overflow: auto;\n  color: #666;\n  margin-bottom: 20px;\n  min-height: 35px;\n}\n\n.navbar .nav-text {\n  padding: 5px;\n}\n\n.navbar .nav-link {\n  color: #666;\n  padding: 4px;\n  text-decoration: none;\n  cursor: pointer;\n  text-decoration: none;\n  cursor: pointer;\n  border-bottom: 1px solid #ccc;\n  display: inline-block;\n}\n\n.navbar .nav-link.active {\n  border-bottom: 3px solid #ccc;\n}\n\n.navbar .nav-link:hover {\n  background-color: #eee;\n}\n\ninput, select, textarea {\n  box-sizing:border-box;\n  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);\n  padding: 6px 12px;\n  line-height: 1.42857143;\n  color: #555;\n  background-color: #fff;\n  background-image: none;\n  border: 1px solid #ccc;\n}\n\ninput, select {\n  height: 35px;\n}\n\ninput[type=\"checkbox\"] {\n  /*width: unset;*/\n  height: unset;\n  vertical-align: middle;\n}\n\ninput[type=\"file\"] {\n  height: unset;\n}\n\n.btn {\n  display: inline-block;\n  font-family: inherit;\n  font-size: 18px;\n  text-decoration: none;\n  padding: 6px 12px;\n  line-height: 1.42857143;\n  color: #48d;\n  background-color: transparent;\n  background-image: none;\n  border: 1px solid transparent;\n  cursor: pointer;\n}\n\n.btn-disabled {\n  pointer-events: none;\n  color: #999;\n}\n\n.btn * {\n  vertical-align: middle;\n}\n\n.btn:hover {\n  color: #333;\n}\n\n.btn:active {\n  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);\n}\n\n.form {\n  max-width: 300px;\n  margin-left: auto;\n  margin-right: auto;\n}\n\n.center-align {\n  text-align: center;\n}\n\n.left-align {\n  text-align: left;\n}\n\n.invisible {\n    display: none;\n}\n\n","output":"str","x":330,"y":40,"wires":[["22f7c192.d546ce"]]},{"id":"22f7c192.d546ce","type":"template","z":"d7fbbdab.7d82f","name":"JS","field":"payload.js","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"if ( document.querySelector(\"#reading_timestamp\") ) {\n  var readingDate = new Date( parseInt( document.querySelector(\"#reading_timestamp\").textContent ) );\n  document.querySelector(\"#reading_timestamp_local\").textContent = readingDate.toString();\n  var hoursOffset = readingDate.getTimezoneOffset() / -60;\n\n  var time = '' +\n    ( readingDate.getHours() > 9 ? readingDate.getHours() : '0' + readingDate.getHours() ) + ':' +\n    ( readingDate.getMinutes() > 9 ? readingDate.getMinutes() : '0' + readingDate.getMinutes() ) + ':' +\n    ( readingDate.getSeconds() > 9 ? readingDate.getSeconds() : '0' + readingDate.getSeconds() );\n  var date = '' + readingDate.getFullYear() + '-' + ( readingDate.getMonth() < 9 ? '0' : '' ) + ( readingDate.getMonth() + 1 )\n + '-' + ( readingDate.getDate() < 10 ? '0' : '' ) + readingDate.getDate();\n  var offset = (hoursOffset > 0 ? '+' : '' ) + hoursOffset + ':00'\n  // // TODO: Handle minutes in offset ( currently works with whole hours )\n// debugger\n  document.querySelector(\"#find_form input[name='find[time]']\").value = time;\n  document.querySelector(\"#find_form input[name='find[date]']\").value = date;\n  document.querySelector(\"#find_form input[name='find[offset]']\").value = offset;\n\n};\n","output":"str","x":470,"y":40,"wires":[["40288ac8.119314"]]},{"id":"d331b7e3.668238","type":"subflow","name":"Database","info":"Send SQL commands to sqlite3 and return result","in":[{"x":60,"y":40,"wires":[{"id":"cb19b49e.4b7628"}]}],"out":[{"x":440,"y":40,"wires":[{"id":"cb19b49e.4b7628","port":0}]}],"icon":"node-red-node-sqlite/sqlite.png"},{"id":"cb19b49e.4b7628","type":"sqlite","z":"d331b7e3.668238","mydb":"f5bd89c3.341308","sqlquery":"msg.topic","sql":"","name":"Map SQLite3 Database","x":250,"y":40,"wires":[[]]},{"id":"f5bd89c3.341308","type":"sqlitedb","z":"d331b7e3.668238","db":"testdb"},{"id":"de6bb21d.7f87e","type":"serial in","z":"8d9106b5.62cfc8","name":"GPS stream","serial":"5edbde73.9c83b","x":110,"y":80,"wires":[["3734ac4.b7b0454"]]},{"id":"40560737.7d2768","type":"function","z":"8d9106b5.62cfc8","name":"Process NMEA data","func":"var data = msg.payload.split(\",\");\n\nvar readingType = data[0];\n\nif ( readingType != '$GPGGA') { return; };\n\nvar nmeaOrdinateToDecimal = function ( reading, hemisphere ) {\n    \n    var direction = ( hemisphere == 'N' || hemisphere == 'E' ) ? 1 : -1;\n    var degrees = parseInt( reading.slice( 0, -7 ) );\n    var minutes = parseFloat( reading.slice( -7 ) );\n\n    return direction * ( degrees + minutes/60 );\n    \n};\n\nvar nmeaLatitude = data[2];\nvar nemaNorthSouth = data[3];\nvar nmeaLongitude = data[4];\nvar nmeaEastWest = data[5];\n\nmsg.payload = {\n    latitude: nmeaOrdinateToDecimal( nmeaLatitude, nemaNorthSouth ),\n    longitude: nmeaOrdinateToDecimal( nmeaLongitude, nmeaEastWest ),\n};\n\n// msg.payload = JSON.stringify( payload );\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["e3ac84c3.d7cef8"]]},{"id":"3d710429.b01ffc","type":"http request","z":"8d9106b5.62cfc8","name":"Post data","method":"POST","ret":"obj","url":"http://192.168.1.108:3000/map/readings","tls":"","x":460,"y":300,"wires":[["194eb98c.786556"]]},{"id":"c12eff46.b90fd","type":"comment","z":"8d9106b5.62cfc8","name":"Post to remote server","info":"","x":140,"y":260,"wires":[]},{"id":"6096fb93.2226c4","type":"comment","z":"8d9106b5.62cfc8","name":"Receive readings","info":"","x":120,"y":40,"wires":[]},{"id":"6d07194a.fd1968","type":"comment","z":"8d9106b5.62cfc8","name":"Write to local database","info":"","x":140,"y":180,"wires":[]},{"id":"b80ad07c.84167","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Write GPS reading","func":"var latitude = msg.payload.latitude;\nvar longitude = msg.payload.longitude;\nvar timestamp = Date.now();\n\nmsg.topic = \" \\\nINSERT INTO gps_readings ( latitude, longitude, timestamp ) \\\nVALUES (\" + latitude + \", \" + longitude + \", \" + timestamp + \");\";\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["5ef3c496.987f4c"]]},{"id":"194eb98c.786556","type":"debug","z":"8d9106b5.62cfc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":260,"wires":[]},{"id":"3734ac4.b7b0454","type":"function","z":"8d9106b5.62cfc8","name":"Filter positional readings","func":"var readingType = msg.payload.slice( 0, 6 );\nif ( readingType != '$GPGGA') { return; };\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["d55182b5.536fc"]]},{"id":"d55182b5.536fc","type":"delay","z":"8d9106b5.62cfc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":560,"y":80,"wires":[["40560737.7d2768"]]},{"id":"5ef3c496.987f4c","type":"subflow:d331b7e3.668238","z":"8d9106b5.62cfc8","name":"","x":460,"y":220,"wires":[["194eb98c.786556"]]},{"id":"e3ac84c3.d7cef8","type":"switch","z":"8d9106b5.62cfc8","name":"GPS fix?","property":"payload.latitude","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":120,"wires":[["15be025.ed940fe"]]},{"id":"15be025.ed940fe","type":"function","z":"8d9106b5.62cfc8","name":"Moved since last write?","func":"var closeBy = function( reading1, reading2 ) {\n    return distance(\n            reading1.latitude,\n            reading1.longitude,\n            reading2.latitude,\n            reading2.longitude ) < 5;\n};\n\nvar distance = function(lat1, lon1, lat2, lon2) {\n  var p = 0.017453292519943295;    // Math.PI / 180\n  var c = Math.cos;\n  var a = 0.5 - c((lat2 - lat1) * p)/2 + \n          c(lat1 * p) * c(lat2 * p) * \n          (1 - c((lon2 - lon1) * p))/2;\n\n  return 12742000 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km\n};\n\nvar lastReading = context.get( 'lastReading' ) || {};\nvar currentReading = msg.payload;\n\nif ( lastReading.latitude && closeBy( currentReading, lastReading ) ) {\n    return; \n}\n\ncontext.set( 'lastReading', currentReading );\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["68dc3891.722608"]]},{"id":"6adb72ad.6fab4c","type":"link in","z":"8d9106b5.62cfc8","name":"To local","links":["68dc3891.722608"],"x":55,"y":220,"wires":[["b80ad07c.84167"]]},{"id":"68dc3891.722608","type":"link out","z":"8d9106b5.62cfc8","name":"Save reading","links":["6adb72ad.6fab4c","5f26630.f38069c"],"x":955,"y":120,"wires":[]},{"id":"5f26630.f38069c","type":"link in","z":"8d9106b5.62cfc8","name":"To Remote","links":["68dc3891.722608"],"x":55,"y":300,"wires":[[]]},{"id":"d994201f.80bac","type":"comment","z":"8d9106b5.62cfc8","name":"POST TO SERVER NOT ENABLED","info":"","x":240,"y":300,"wires":[]},{"id":"8b7f0bc7.0fbe88","type":"inject","z":"8d9106b5.62cfc8","name":"Create table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":880,"wires":[["1723ec34.68e244"]]},{"id":"1723ec34.68e244","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Create table","func":"msg.topic = \"CREATE TABLE gps_readings (latitude real, longitude real, timestamp integer);\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["b86af10.b24891"]]},{"id":"96948bc6.faf848","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Drop table","func":"msg.topic = \"DROP TABLE gps_readings;\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":920,"wires":[["b86af10.b24891"]]},{"id":"39121e66.6f08d2","type":"inject","z":"8d9106b5.62cfc8","name":"Drop table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":920,"wires":[["96948bc6.faf848"]]},{"id":"b86af10.b24891","type":"subflow:d331b7e3.668238","z":"8d9106b5.62cfc8","name":"","x":720,"y":920,"wires":[["d1e8e408.1af8e8"]]},{"id":"d1e8e408.1af8e8","type":"debug","z":"8d9106b5.62cfc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":920,"wires":[]},{"id":"e4c1c14a.c0ae1","type":"inject","z":"8d9106b5.62cfc8","name":"Show readings","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["d3629683.b30708"]]},{"id":"d3629683.b30708","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Retrieve 10 latest readings","func":"msg.topic = \"SELECT * FROM gps_readings ORDER BY ROWID DESC LIMIT 10;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":980,"wires":[["b86af10.b24891"]]},{"id":"89c10dc1.e64a2","type":"comment","z":"8d9106b5.62cfc8","name":"Database admin","info":"","x":120,"y":840,"wires":[]},{"id":"449374a.1ab628c","type":"subflow:d331b7e3.668238","z":"8d9106b5.62cfc8","name":"","x":640,"y":440,"wires":[["ec87cdcb.87d0f"]]},{"id":"250284aa.7b36fc","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Retrieve latest reading","func":"msg.topic = \"SELECT ROWID, * FROM gps_readings ORDER BY ROWID DESC LIMIT 1;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["e5b75070.2ca4e"]]},{"id":"aa910990.6fd7f8","type":"http in","z":"8d9106b5.62cfc8","name":"","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":100,"y":400,"wires":[["25c10e35.713ff2"]]},{"id":"b575105d.a67ff","type":"template","z":"8d9106b5.62cfc8","name":"Map web page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form id=\"find_form\" method=\"POST\" action=\"/map\" class=\"pull-right\">\n  <input type=\"date\" name=\"find[date]\" />\n  <input type=\"time\" name=\"find[time]\" step=\"1\" />\n  <input type=\"hidden\" name=\"find[offset]\" />\n  <button class=\"btn\"><i class=\"fa fa-search\"></i></button>\n</form>\n\n<div class=\"pull-right\">\n  <a href=\"/map\" class=\"btn\"><i class=\"fa fa-map-marker\"></i></a>\n  <a href=\"/map?readingId={{payload.rowidPrevious}}\" class=\"btn\"><i class=\"fa fa-arrow-left\"></i></a>\n  <a href=\"/map?readingId={{payload.rowidNext}}\" class=\"btn\"><i class=\"fa fa-arrow-right\"></i></a>\n</div>\n\n<br>\n\n<div>\n  <span id=\"reading_timestamp\" class=\"invisible\">{{payload.timestamp}}</span>\n  <strong><span id=\"reading_timestamp_local\"></span></strong/>\n  {{payload.latitudeDms}}, {{payload.longitudeDms}}\n</div>\n\n<div style=\"width: 100%\">\n  <iframe width=\"100%\" height=\"600\"\n  src=\"https://maps.google.com/maps?width=100%&height=600&hl=en&q={{payload.latitude}},{{payload.longitude}}&ie=UTF8&t=&z=14&iwloc=B&output=embed\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\">\n  </iframe>\n</div>\n\n","output":"str","x":360,"y":520,"wires":[["346e606a.a52c1"]]},{"id":"346e606a.a52c1","type":"subflow:d7fbbdab.7d82f","z":"8d9106b5.62cfc8","name":"","x":820,"y":520,"wires":[["abb2246e.c3bf08"]]},{"id":"abb2246e.c3bf08","type":"http response","z":"8d9106b5.62cfc8","name":"HTML Response","statusCode":"","headers":{},"x":1030,"y":520,"wires":[]},{"id":"f9829105.74eff","type":"function","z":"8d9106b5.62cfc8","name":"View data","func":"var degreesToDms = function( value, axis ) {\n\n    if ( value < 0 ) { \n        value = value * -1;\n        if ( axis == \"longitude\" ) { direction = \"W\" } \n        else { direction = \"S\" };\n    } else {  \n        if ( axis == \"longitude\" ) { direction = \"E\" } \n        else { direction = \"N\" };\n    };\n\n    var degrees = Math.floor( value );\n    var minfloat = ( value - degrees ) * 60;\n    var minutes = Math.floor( minfloat );\n    var secfloat = ( minfloat - minutes ) * 60;\n    var seconds = secfloat.toFixed(1);\n    \n    if ( seconds == 60 ) { minutes++; seconds = 0; };\n    if ( minutes == 60) { degrees++; minutes = 0; };\n\n\n    return ( \"\" + \n        degrees + \"°\" + \n        ( \"00\" + minutes ).slice(-2) + \"'\" + \n        ( \"00\" + seconds ).slice(-4) + '\"' + \n        direction );\n};\n\nvar reading = msg.payload[0];\nmsg.payload = reading;\nmsg.payload.latitudeDms = degreesToDms( reading.latitude, \"latitude\" );\nmsg.payload.longitudeDms = degreesToDms( reading.longitude, \"longitude\" );\nmsg.payload.rowidNext = msg.payload.rowid + 1;\nmsg.payload.rowidPrevious = msg.payload.rowid - 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":480,"wires":[["b575105d.a67ff"]]},{"id":"25c10e35.713ff2","type":"subflow:471050ab.ff09e","z":"8d9106b5.62cfc8","name":"","x":350,"y":400,"wires":[["df8e61f9.d320c"]]},{"id":"3ad3a6.72ffbc5a","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Retrieve reading by id","func":"msg.topic = \"SELECT ROWID, * FROM gps_readings WHERE ROWID = \" + msg.req.query.readingId + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["449374a.1ab628c"]]},{"id":"df8e61f9.d320c","type":"switch","z":"8d9106b5.62cfc8","name":"Has readingId?","property":"req.query.readingId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":400,"wires":[["3ad3a6.72ffbc5a"],["250284aa.7b36fc"]]},{"id":"ec87cdcb.87d0f","type":"switch","z":"8d9106b5.62cfc8","name":"Not found?","property":"payload.0","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":440,"wires":[["9979b00b.6a34f"],["f9829105.74eff"]]},{"id":"9979b00b.6a34f","type":"http response","z":"8d9106b5.62cfc8","name":"Redirect to latest","statusCode":"302","headers":{"location":"/map"},"x":1030,"y":400,"wires":[]},{"id":"e5b75070.2ca4e","type":"subflow:d331b7e3.668238","z":"8d9106b5.62cfc8","name":"","x":640,"y":480,"wires":[["f9829105.74eff"]]},{"id":"864dcfa9.58fc4","type":"subflow:d331b7e3.668238","z":"8d9106b5.62cfc8","name":"","x":340,"y":600,"wires":[["f953d746.0fbff8"]]},{"id":"37ab0ae4.06b696","type":"http in","z":"8d9106b5.62cfc8","name":"","url":"/map","method":"post","upload":false,"swaggerDoc":"","x":110,"y":560,"wires":[["294cf763.a32818"]]},{"id":"294cf763.a32818","type":"subflow:471050ab.ff09e","z":"8d9106b5.62cfc8","name":"","x":350,"y":560,"wires":[["985c5f44.d825e"]]},{"id":"985c5f44.d825e","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Retrieve reading before timestamp","func":"var datetime = msg.payload.find.date + \"T\" + \n                msg.payload.find.time + \n                msg.payload.find.offset;\n\nvar timestamp = Date.parse( datetime ) + 1000;\n                \nnode.warn(\"Timestamp: \" + timestamp);\nmsg.topic = \"SELECT ROWID, * FROM gps_readings WHERE TIMESTAMP <= \" + \n                timestamp + \" ORDER BY ROWID DESC LIMIT 1;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":560,"wires":[["864dcfa9.58fc4"]]},{"id":"bb1a1b15.d0b618","type":"http response","z":"8d9106b5.62cfc8","name":"Redirect","statusCode":"302","headers":{},"x":1000,"y":600,"wires":[]},{"id":"f953d746.0fbff8","type":"function","z":"8d9106b5.62cfc8","name":"Set redirect location","func":"if ( msg.payload[0] ) {\n    msg.headers = { \"Location\": \"/map?readingId=\" + msg.payload[0].rowid };\n} else {\n    msg.headers = { \"Location\": \"/map\" };\n};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":600,"wires":[["bb1a1b15.d0b618"]]},{"id":"d82f10c4.51a8f","type":"http in","z":"8d9106b5.62cfc8","name":"","url":"/map/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["90b90e1c.15e92"]]},{"id":"38fceb32.244b54","type":"function","z":"8d9106b5.62cfc8","name":"SQL - List all readings","func":"var latitude = msg.payload.latitude;\nvar longitude = msg.payload.longitude;\nvar timestamp = Date.now();\n\nmsg.topic = \"SELECT * FROM gps_readings;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":740,"wires":[["6b90b6bc.48b258"]]},{"id":"b89bf8b0.52d218","type":"http response","z":"8d9106b5.62cfc8","name":"JSON Response","statusCode":"","headers":{"content-type":"application/json"},"x":1030,"y":760,"wires":[]},{"id":"64fbd1ce.ea082","type":"http in","z":"8d9106b5.62cfc8","name":"","url":"/map/data/latest","method":"get","upload":false,"swaggerDoc":"","x":140,"y":780,"wires":[["ce542134.f5e1f"]]},{"id":"b118cffa.6e939","type":"function","z":"8d9106b5.62cfc8","name":"SQL - Retrieve latest reading","func":"msg.topic = \"SELECT * FROM gps_readings ORDER BY ROWID DESC LIMIT 1;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["6b90b6bc.48b258"]]},{"id":"6b90b6bc.48b258","type":"subflow:d331b7e3.668238","z":"8d9106b5.62cfc8","name":"","x":840,"y":760,"wires":[["b89bf8b0.52d218"]]},{"id":"90b90e1c.15e92","type":"subflow:471050ab.ff09e","z":"8d9106b5.62cfc8","name":"","x":350,"y":740,"wires":[["38fceb32.244b54"]]},{"id":"ce542134.f5e1f","type":"subflow:471050ab.ff09e","z":"8d9106b5.62cfc8","name":"","x":350,"y":780,"wires":[["b118cffa.6e939"]]},{"id":"9441b131.704fc","type":"comment","z":"8d9106b5.62cfc8","name":"Web routes","info":"","x":110,"y":360,"wires":[]},{"id":"94677b5c.3de028","type":"subflow:d7fbbdab.7d82f","z":"8d9106b5.62cfc8","name":"","x":820,"y":640,"wires":[["3c8d1fd9.8784b"]]},{"id":"3c8d1fd9.8784b","type":"http response","z":"8d9106b5.62cfc8","name":"HTML Response","statusCode":"","headers":{},"x":1030,"y":640,"wires":[]},{"id":"3fa3eaee.45dff6","type":"http in","z":"8d9106b5.62cfc8","name":"","url":"/sign_out","method":"get","upload":false,"swaggerDoc":"","x":110,"y":640,"wires":[["c3bec578.b13c58"]]},{"id":"c3bec578.b13c58","type":"template","z":"8d9106b5.62cfc8","name":"Signed out web page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h4>Signed out</h4>\n<a href=\"/map\" class=\"btn\"><i class=\"fa fa-sign-in\"></i> Sign in</a>\n","output":"str","x":380,"y":640,"wires":[["94677b5c.3de028"]]},{"id":"19636fdb.cb95","type":"comment","z":"8d9106b5.62cfc8","name":"JSON routes","info":"","x":110,"y":700,"wires":[]},{"id":"5edbde73.9c83b","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
